.modal-footer {
  position: relative;
  font-weight: bold; 
  font-size: 18px; 
  margin-top: 20px; 
  margin-bottom: 130px; 
}

.total-label {
  text-align: right; 
  position: absolute;
  left: 690px; 
  top: calc(50% + 10px);  
  transform: translateY(-50%); 
}

.total-price {
  text-align: right; 
  position: absolute;
  left: 794px; 
  top: calc(50% + 10px); 
  transform: translateY(-50%); 
}

button {
  width: 76px; 
  height: 21px; 
  border: 2px solid #767676; 
  background-color: #EFEFEF; 
  color: #000000; 
  font-size: 13px; 
  text-align: center; 
  padding: 2px 5px; 
  border-radius: 2px; 
}

button:hover {
  background-color: #e0e0e0; 
}

button.close-btn {
  width: 76px;
  height: 21px;
  border: 2px solid #767676;
  background-color: #EFEFEF;
  color: #000000;
  font-size: 13px;
  text-align: center;
  padding: 2px 5px;
  border-radius: 2px;
  position: absolute; 
  right: 32px; 
  top: 32px;
}




.empty-row {
  border-bottom: 1px dashed #ccc; /* Пунктирная линия снизу */
  height: 71px; /* Высота строки */
}
