.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s; /* плавный переход */
}

.Item-code {
  padding: 20px 10px 20px 20px; /* Внутренние отступы*/
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
  margin-left: 10px;
  width: 76px;
  height: 21px;
  border-radius: 5px;
}

.Item-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}