.catalog-item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s; /* плавный переход */
}

.Item-code {
  padding: 20px 10px 20px 20px; /* Внутренние отступы*/
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
  margin-left: 10px;
  width: 76px;
  height: 21px;
  border-radius: 5px;
}

.catalog-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}

.modal-item {
  display: flex;
  justify-content: flex-start;
  position: relative;
  border-bottom: 1px dashed #ccc; 

} 

.modal-price {
  text-align: right; 
  position: absolute;
  right: 221px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.item-quantity {
  text-align: right; 
  position: absolute;
  right: 121px;
  top: 50%; 
  transform: translateY(-50%); 
}