.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0;
    border-radius: 8px;
    z-index: 1000;
    max-width: 960px;
    width: 100%;
    box-sizing: border-box;
  }
 
  .close-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .no-scroll {
    overflow: hidden; /* Отключаем прокрутку страницы */
  }
  